@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');



img {
    height: 250px;
    width: 275px;
    background-color: transparent;
    border: 3px solid #000
}

body {
    background-color: #565656;
    margin: 0px;
    padding: 0px;
    color:#fdfcfc
}


main {
    padding: 16px;
}
.four-equal {
    display: grid;
    grid-template-columns: 330px 330px 330px 330px;
    grid-template-rows: 300px 300px;
  }

h1{
    color: #000000;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 1px 1px 1px rgb(24, 24, 24), 0 0 1em rgb(116, 109, 109), 0 0 0.2em rgb(62, 62, 62);
    font-size: 55px;
    text-align: center;
    margin-top: 0;
  }

h4{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color:rgb(234, 234, 234);
  text-align: center

}

footer {
    min-height: 100vh;
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 24px;
    padding-left: 24px;
    background-color: #000000;
    color: rgb(160, 2, 2);
    font-size:larger;
    font-family: 'Big Shoulders Inline Display', cursive;
}

nav {
    padding: 10px;
    border-bottom: 1px solid #4c4c4c;
    background-color:#565656 ;
}

a {
    color: #000000;
    font-family: 'Big Shoulders Inline Display', cursive;
    font-size: 25px;
    margin: 60px;
  }

a:hover {
    color: #ea0a0a;
  }

a:link{
    text-decoration: none;
 }

tr:nth-child(even){
    background-color: rgb(139, 92, 56);
  }

th {
  color:rgb(0, 0, 0)
}


  .text-decor{
    font-family: 'Big Shoulders Inline Display', cursive;
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 600;
  }

  .right{
    font-family: 'Antonio', sans-serif;   color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 1000;
    text-align: right;
  }

  .replace-padding {
    width: 264px;
    height: 0;
    padding: 106px 0 0 0;
    overflow: hidden;
  }

  .html-marquee {
    .overflow: hidden;
     position: relative;
     background: #000;
     color: white;
     font-weight:bold;
     font-size: 17px;
     border: 1px solid #000;
     font-family: 'Bebas Neue', cursive;
  }


.featured{
  font-family: 'Antonio', sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
}

.container {
  display: grid;
  align-items: center;
  grid-template-columns: 480px 480px;
  column-gap: 4px;
 }

 .text {
   font-size: 15px;
 }
