{% extends 'base.html' %}

{% block title %}
{{ recipe_object.title}} -
CERTIFIED AMBITIONS
{% endblock title %}

{% block content %}
{% load static %}

<header>
    <nav>
         <a class="text-decor" href = "{% url 'business_list' %}">MAIN PAGE</a>
    </nav>
</header>
<main>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>CREATE</button>
</form>
</main>
{% endblock content %}
