{% extends 'base.html' %}

{% block title %}
{{ business_object.title}} -
CERTIFIED AMBITIONS
{% endblock title %}

{% block content %}
{% load static %}
    <header>
        <marquee class = "html-marquee" direction="left">
            A PLATFORM FOR SMALL BUSINESSES
            <span style="margin-left:1in;"></span>
            CHECK OUT SOME BUSINESSES AROUND THE COUNTRY
            <span style="margin-left:1in;"></span>
            SUPPORT THE AMBITIONS
        </marquee>
        <nav>
            <a href="{% url 'business_list' %"><h1>CERTIFIED AMBITIONS</h1></a>
            <a class="text-decor" href="{% url 'business_list' %}">MAIN PAGE</a>
            {% if user.is_authenticated %}
            <a class="text-decor" href="{% url 'create_business' %}">POST YOUR BRAND</a>
            <a class="text-decor" href="{% url 'edit_business' business_object.id %}">EDIT</a>
            {% endif %}
        </nav>
    </header>
<main>
    <p class = "right">{{ business_object.title }}</p>
    <div class="container">
    <img src ="{{ business_object.picture }}">
    <p>{{ business_object.description }}</p>
    <div class="text">
    <h2>Overview</h2>
    <table class = "information-table">
        <thead>
            <tr>
                <th>Styles</th>
                <th>Prices</th>
            </tr>
        </thead>
        <tbody>
            {% for information in business_object.information.all %}
            <tr>
                <td>{{ information.styles }}</td>
                <td>{{ information.style_item }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>More Information </h2>
        <ul>
            {% for step in business_object.steps.all %}
            <li>{{ step.instruction }}</li>
            {% endfor %}
        </ul>
</main>
{% endblock content %}
