{% extends 'base.html' %}

{% block title %}
{{ business_object.title}} -
CERTIFIED AMBITIONS
{% endblock title %}

{% block content %}
{% load static %}
    <header>
        <nav>
            <a class="text-decor" href="{% url 'business_list' %}">MAIN PAGE</a>
        </nav>
    </header>
<main>
    <h1>EDIT {{ business_object.title }}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ business_form.as_p }}
        <button><a href="{% url 'business_list' %}">SAVE</a></button>
    </form>
</main>
{% endblock content %}
