{% extends 'fbase.html' %}

{% block title %}
CERTIFIED AMBITIONS
{% endblock title %}

{% block content %}
{% load static %}
<header>
    <ul class="t">
        <li>AMBITIONS.</li>
        <li>THE.</li>
        <li>SUPPORT.</li>
    </ul>
</header>
<div>
<a href="{% url 'business_list' %}">MAIN PAGE</a>
<br>
<a href="{% url 'signup' %}">SIGN UP</a>
<br>
<a href="{% url 'user_login' %}">LOGIN</a>
</div>
{% endblock content %}
