{% extends 'base.html' %}

{% block title %}
CERTIFIED AMBITIONS
{% endblock title %}

{% block content %}
{% load static %}

<header>
    <marquee class = "html-marquee" direction="left">
        A PLATFORM FOR GROWING BUSINESSES
        <span style="margin-left:1in;"></span>
        CHECK OUT SOME BUSINESSES AROUND THE COUNTRY
        <span style="margin-left:1in;"></span>
        SUPPORT THE AMBITIONS
    </marquee>
    <nav>
        <a href="{% url 'homepage' %}"><h1>CERTIFIED AMBITIONS</h1></a>
        {% if user.is_authenticated %}
        <a class="text-decor" href="{% url 'create_business' %}">POST YOUR BRAND</a>
            Hello, {{ user.username }}
        <a href="{% url 'logout_view' %}">LOG OUT</a>
        {% else %}
        <a href="{% url 'signup' %}">SIGN UP</a>
        <a href="{% url 'user_login' %}">LOGIN</a>
        {% endif %}
    </nav>
</header>
<br>
<main>
    <h2 class = "featured">RECENTLY POSTED</h2>
    <br>
    <div class="four-equal">
        {% for business in business_list %}
        <div>
            <img src="{{ business.picture }}">
            <div> 4.3 stars</div>
            <h3>
                <a href="{% url 'show_business' business.id %}">{{ business.title }}</a>
                <p>{{ business.created_on|date:"F j, Y" }}</p>
            </h3>
        </div>
        {% endfor %}
    <div>
</main>
{% endblock content %}
